{% extends "base2.html" %}
{% block content %}
      

<form action = "{{ url_for('custreg') }}" method = "POST">
    
    <label for="fname">First Name:</label>
    <input type="text" name="fname" id="fname" />
    <br /><br>
    <label for="lname">Last Name:</label>
    <input type="text" name="lname" id="lname" />
    <br /><br>
    <label for="uname">User Name:</label>
    <input type="text" name="uname" id="uname" />
<br /><br>
     Gender: 
     <input name="gender" type="radio" id="gm" value="male" />
     <label for="gm">Male</label>
     <input name="gender" type="radio" id="gf" value="female" />
     <label for="gf">Female</label>
   <br /><br>
    <label for="age">Age:</label>
    <input type="text" name="age" id="age" />
<br /><br>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" />
<br /><br>
    <label for="phone">Phone:</label>
    <input type="text" name="phone" id="phone" />
<br /><br>
    <label for="pwd">Password:</label>
    <input type="password" name="pwd" id="pwd" />
<br /><br>
    <label for="rpwd">Confirm Password:</label>
    <input type="password" name="rpwd" id="rpwd" />
<br /><br>
    <label for="address">Address:</label>
    <input type="text" name="address" id="address" />

 <br><br>
    <input type="submit" name="submit" value="Submit"/>
    <input type="reset" value="Clear Form" />
  </p>
</form>

</center>



       
{% endblock %}
