<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-size: 28px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>

<body>


<ul>
  <li><a class="active" href="clogin">Customer Login</a></li>
  <li><a href="alogin">Admin Login</a></li>
  
</ul>
<form action = "{{ url_for('resetpwd') }}" method = "POST">
 <label for="pwd">Enter the New Password</label>
    <input type="text" name="pwd" id="pwd" /><br><br>
<label for="id">Enter the id</label>
    <input type="text" name="id" id="id" />
<p>
    <input type="submit" name="submit" value="Delete"/>
</p>
</form>
</body>
</head>
</html>
